#room{
  width: 100%;
  height: 100%;
  margin-left: -1px;

  .tabs{
    flex-basis: 3em;
    -webkit-flex-basis: 3em;
    min-height:3em;
    width: 100%;
  }

  .tab{
    flex-grow:1;
    -webkit-flex-grow: 1;
    float:left;
    color: black;
    height: 3em;
    line-height: 3em;
    text-align:center;
    cursor:pointer;
    &:hover{
      font-weight:bold;
    }
    transition: all, 200ms ease;
    background-color: #0E919D;
  }

  .tab-selected{
    color: white;
    font-weight:bold;
    background-color: #236166;
    box-shadow: 0 0 0.3em 0 rgba(0,0,0,0.4) inset;
  }

  .view{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    width: 100%;
    & > div{
      width: 100%;
      height: 100%;
      flex-grow: 1;
      -webkit-flex-grow: 1;
      overflow:auto;
    }
  }
}


