#chat{
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  overflow:auto;

  .message-list{
    overflow:auto;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    min-height: 5em;
  }

  .console{
    flex-basis: 10em;
    -webkit-flex-basis: 10em;
    min-height: 10em;
  }

  .user-message{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    outline: none;
    resize: none;
    overflow: auto;
  }

  .msg{
    word-wrap: break-word;
  }
}


