
<template name="chat">
    <div id="chat"  class="flex-col">
        <div class="message-list">
            {{#each messages}}
                <div class="msg">
                    <div class="{{#if ownsMessage}}myMsg {{/if}}">
                        <div class="message-user">{{userNameFromId user}}</div>
                        <div class="message-content">{{getContent}}</div>
                        <div class="message-date">{{formatDate createdAt}}</div>
                    </div>
                </div>
                {{scrollDown}}
            {{/each}}
        </div>
        <div class="console flex-col">
            <div class="user-message-tools flex-col">
                <input type="file" id="filePicker"/>
                <div class="fileUploadButton {{activeIfIsInRoom}}">
                    {{#if isFileUploading}}
                        Uploading...
                    {{else}}
                        Send A file
                    {{/if}}
                </div>
            </div>
            <textarea class="user-message" {{activeIfIsInRoom}} placeholder="Yolo !"></textarea>
        </div>
    </div>
</template>
