#chat{
  width: 100%;
  height: 100%;
  margin-bottom: 10em;
  margin-left: -1px;

  .message-list{
    opacity: 0;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    min-height: 5em;
    overflow: auto;
  }

  .console{
    flex-basis: 10em;
    -webkit-flex-basis: 10em;
    min-height: 10em;
    width: 50%;
    position: fixed;
    bottom: 0;
  }

  .user-message{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    outline: none;
    resize: none;
    overflow: auto;
  }


  .user-message-tools{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-basis: 3em;
    max-height:3em;
    background-color: #6e6e6e;
  }

  #filePicker{
    display:none;
  }

  .fileUploadButton{
    flex-grow: 1;
    cursor: pointer;
    text-align:center;
    line-height:3em;
    color:white;
    font-weight:bold;
  }

  .msg{
    display: block;
    opacity:0;
    margin:0.6em 0.5em;
    padding: 0 1px 1px 0;
    overflow:hidden;

    &>div{
      padding:0.6em 0.6em 0.6em;
      background-color: #b7b7b7;
      color: white;
      float:left;
      word-wrap: break-word;
      min-width: 5em;
      max-width:80%;
      border-radius:0 0.7em 0.7em 0.7em;
      box-shadow: 1px 1px 2px 0 #fcfcfc, inset 1px 1px 2px 0 rgba(0,0,0,0.1);
    }
  }

  .myMsg > div{
    float:right !important;
    background-color: #59DE11 !important;
    border-radius:0.7em 0 0.7em 0.7em !important;
  }

  .myMsg > p{
    text-align: right;
  }

  .message-content > img {
      transform: scaleX(-1);
    border-radius: 0 0.2em 0.2em 0.2em;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
  }

  .message-content {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.08);
  }

  .message-user{
    text-align:left;
    width:100%;
    font-weight:bold;
    font-size:0.8em;
    margin-bottom: 0.3em;
    color: #888;
    font-size: 0.75em;
  }

  .message-date{
    text-align:right;
    width:100%;
    font-size:0.7em;
    margin-top: 0.6em;
    opacity: 0.85;
  }

  .disabled{
    display:none;
  }

  .message-img{
    width:100%;
  }

}


