
<template name="chat">
    <div id="chat"  class="flex-col">
        <div class="message-list">
            {{#each messages}}
                <div class="msg {{#if ownsMessage}}myMsg {{/if}}">
                    <p class="message-user">{{userNameFromId user}}</p>
                    <div>
                        <div class="message-content">{{getContent}}</div>
                        <div class="message-date">{{formatDate createdAt}}</div>
                    </div>
                </div>
                {{scrollDown}}
            {{/each}}
            {{#if sendingMessage}}
                <div class="msg">
                    <div class="myMsg">
                        <div class="message-content">Sending...</div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="console flex-col">
            <div class="user-message-tools flex-col">
                <input type="file" id="filePicker"/>
                <div class="fileUploadButton {{activeIfIsInRoom}}">
                    {{#if isFileUploading}}
                        Uploading...
                    {{else}}
                        <i class="fa fa-upload"> Send A file</i>
                    {{/if}}
                </div>
            </div>
            <textarea class="user-message" {{activeIfIsInRoom}} placeholder="Yolo !"></textarea>
        </div>
    </div>
</template>
