
<template name="chat">
    <div id="chat"  class="flex-col">
        <div class="message-list">
            {{#each messages}}
                <div class="msg">
                    <div class="{{#if ownsMessage}}myMsg {{/if}}">
                        {{userNameFromId user}} says : {{content}}
                    </div>
                </div>
                {{scrollDown}}
            {{/each}}
        </div>
        <div class="console flex-col">
            <textarea class="user-message" {{activeIfIsInRoom}} value="Yolo !"></textarea>
        </div>
    </div>
</template>
