#files{
  background-color: cadetblue;


  .search-file{
    flex-basis: 3em;
    -webkit-flex-basis: 3em;
    min-height:3em;
  }
  .file-list{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    overflow:auto;
    div{
      word-wrap: break-word;
    }
  }

}


