#rooms{
	.create-room{
		flex-basis: 3em;
		-webkit-flex-basis: 3em;
		min-height:3em;
		input{
			flex-grow: 1;
			-webkit-flex-grow: 1;
		}
	}
	.room-list{
		flex-grow: 1;
		-webkit-flex-grow: 1;

		overflow:auto;

		div{
			cursor: pointer;
			word-wrap: break-word;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow:hidden;
			line-height: 3em;
			height: 3em;
			padding-left:0.9em;
			padding-right:0.9em;
			background-color: #FF7800;
			color: white;
			
			border-top: 1px solid #FC8630;
			border-bottom: 1px solid #E65D19;
			
			p {
				float: left;
			}

			p.nMsg {
				float:right;
				font-size: 0.75em;
				opacity: 0.7;
			}
		}
		.current-room {
			border:none;
			background-color: #E55906;
			box-shadow: 0 0 0.7em 0.1em rgba(0,0,0,0.4) inset;
		}
		.current-room p {
			font-weight:bold;
		}
	}

}


