#video{

  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;


  i{
    color: #6e6e6e;
  }

  .roomVideos{
    flex-grow: 1;
    display:flex;
    display:-webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }

  #myVideo{
    height: 10em;
    cursor: pointer;

  }
}


