
<template name="video">
    <div id="video" class="flex-col">
        <div class="roomVideos flex-col">
            {{#each peerVideos}}
                {{#if src}}
                    <div class="peerVideo">
                        <video src="{{src}}" id="{{id}}" autoplay muted></video>
                        <div>
                            <span>Username</span>
                            <a href="#"><i class="fa fa-volume-off"></i></a>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
        <div class="myVideo">
            <div class="videoContainer">
                <div class="overlay"></div>
                <video autoplay muted id="myVideo"></video>
            </div>
        </div>
        <canvas style="display:none;"></canvas>
    </div>
</template>
