#video{

  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;


  i{
    color: #6e6e6e;
  }

  .roomVideos{
    flex-grow: 1;
    display:flex;
    display:-webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;

    video{
    }
  }

  .videoContainer{
    margin-top:0.5em;
    margin-bottom:0.5em;
    height: 9em;
    width:9em;
    border-radius: 50%;
    overflow:hidden;
    position: relative;
    box-shadow: 0 0 7px 0px rgba(0,0,0,0.75);

    &:hover{
     box-shadow: 0 0 0.2em 0.1em rgba(0,0,0,0.4);
    }
  }

  #myVideo{
    height: 9em;
    cursor: pointer;
    transform: scaleX(-1);

  }
}


