#home{
	width: 100%;
	height: 100%;
	max-height:100%;

	.main-container{
		flex-grow:1;
		-webkit-flex-grow: 1;

		&>div{
			height: 100%;
		}
	}

	.header{
		box-sizing: padding-box;
		color: #eee;
		background: #333;
		width: 100%;
		height: 1.9em;
		font-size:1.5em;
		border-bottom:1px solid #ff7800;
		box-shadow: 0 0 .4em 0 rgba(0,0,0,0.5);
		z-index: 5;
		text-align: right;
		>* {
			float: left;
			border-left: 1px solid #444;
			border-right: 1px solid #111;
			box-sizing: border-box;
		}

		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;
		}

		&>h1 {
			height: 100%;
			padding: 0.2em 0;
			margin:0;
			width: 50%;
			vertical-align: middle;
			font-size: 1.3em;
			text-align: center;
			text-shadow: 0 0 5px #ff7800;
		}

		&>div#username input {
			text-align: right;
		}
		&>div {
			height: 100%;
			width: 25%;
			position: relative;
			padding: 0;
			input {
				color: inherit;
				position: absolute;
				left:0;
				height: 100%;
				width: 100%;
				margin:0;
				box-sizing: border-box;
				border-top: 1px solid transparent;
				z-index: 20;
				background: none;
				cursor: pointer;
				&:focus {
					text-align: left;
					cursor: text;
				}
			}
			&.active ul {
				visibility: visible;
			}


			a#destroyRoom {
				position: absolute;
				top:0;
				right: 0;
				padding: .4em; 
				color: white;
				z-index: 25;
			}

			ul {
				visibility: hidden;
				background: #E65D19;

				width: 100%;
				position: absolute;
				top: 100%;
				flex-grow: 1;
				-webkit-flex-grow: 1;
				z-index: 10;

				max-height: 15em;
				overflow-y: scroll;

				overflow:auto;

				box-shadow: 0 0 .6em 0 rgba(0,0,0,0.5);

				border-radius: 0 0 .3em .3em;

				li {
					cursor: pointer;
					word-wrap: break-word;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow:hidden;
					line-height: 1em;
					height: 1em;
					padding: 0.4em .9em 0.5em;
					background-color: #FF7800;
					color: white;
					position: relative;
					margin: 0;

					border-top: 1px solid #FC8630;
					border-bottom: 1px solid #E65D19;
					
					transition: height .2s, padding .2s, margin-bottom 0s;

					&:last-child {
						border-bottom-width: 2px;
					}

					&:hover {
						border-top: 1px solid #FF7800;
						background-color: #FC6B10;
					}

					&:active {
						border-color: #E65D19;
						background-color: #E65D19
					}
					
					i {
						width: auto!important;
						font-size: 0.8em;
						margin-right: .2em;
						margin-top: -.1em;
					}

					span {
						float: left;
						padding: 0;
						margin: 0;
						text-shadow: 0 -1px 1px #E65D19;
						transition: opacity .3s;
					}


					&.hidden {
						height: 0;
						padding-top: 0;
						padding-bottom: 0;
						margin-top: -2px;
						span {
							opacity: 0;
						}
					}

					&.room-action {
						text-overflow: ellipsis;
					}

					span.nMsg {
						float:right;
						font-size: 0.75em;
						opacity: 0.7;
					}

					&.disabled, &.disabled>span>i.fa{
						color: rgba(255, 255, 255, 0.5)!important;
						cursor: not-allowed;
						&:active, &:hover {
							background-color: #FF7800;
						}
					}
				}
				.current-room {
					border:none;
					background-color: #E55906;
					box-shadow: 0 0 0.7em 0.1em rgba(0,0,0,0.4) inset;
				}
				.current-room p {
					font-weight:bold;
				}
			}
		}



	}

	.room-destroy{
		background-color: #FF0037;
		color: rgb(245, 245, 245);
		cursor:pointer;
	}

	.chat-panel{
		flex-grow:2 !important;
		-webkit-flex-grow: 2 !important;
		width: 50% !important;

	}

	.panel{
		flex-grow:1;
		-webkit-flex-grow: 1;
		float:left;
		min-width:10em;
		width:25%;
		box-sizing: border-box;
		border-left: 1px solid #fafafa;
		border-right: 1px solid #ccc;

		& > *{
			flex-grow: 1;
			-webkit-flex-grow: 1;
		}

		&:last-child{
			border-right: 0;
		}

	}

}


