
<template name="users">
    <div id="users" class="flex-col">
        <div class="find-user flex-col">
            <input type="text" placeholder="Find User"/>
        </div>
        <div class="user-list">
            {{#each users}}
                {{#if showUser}}
                    <div class="name {{#if isSelectedUser}}current-user{{/if}}">{{#if isCurrentUser}}<i class="fa fa-user"></i>{{/if}}{{name}}</div>
                {{/if}}
            {{/each}}
        </div>
        <div id="map-canvas"></div>
    </div>
</template>
