#users{
  .find-user{
    flex-basis: 3em;
    -webkit-flex-basis: 3em;
    min-height:3em;
    input{
      flex-grow: 1;
      -webkit-flex-grow: 1;
    }
  }
  #map-canvas {
    width:100%;
    flex-grow: 2;
    -webkit-flex-grow: 2;
  }
  .user-list{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    overflow:auto;

    div{
      cursor: pointer;
      word-wrap: break-word;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow:hidden;
      line-height: 3em;
      height: 3em;
      text-align: center;
      padding-left:0.5em;
      padding-right:0.5em;
      background-color: #dc6300;
      color: white;
      &:nth-child(odd){
        background-color:#FF7800;
      }

      i{
        width: 1.5em;
      }

      .fa-share{
        position: absolute;
        z-index:2;
        right:0;
      }
    }

  }

  .current-user{
    font-weight:bold;
    background-color:black;
    color:white;
    box-shadow: 0 0 0.7em 0.1em black inset;
  }

}


