
<template name="users">
    <div id="users" class="flex-col">
        <input type="file" id="p2pFilePicker"/>
        <div class="find-user flex-col">
            <input type="text" placeholder="Find User"/>
        </div>
        <div class="user-list">
            {{#each users}}
                {{#if showUser}}
                    <div class="name flex-row {{#if isSelectedUser}}current-user{{/if}}">
                        <div class="pseudo">
                            <p>{{#if isCurrentUser}}<i class="fa fa-user"></i>{{/if}}{{name}}</p>
                        </div>
                        <div class="send {{#if isCurrentUser}}disabled{{/if}}">
                            <i class="fa fa-upload "></i>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
        <div id="map-canvas"></div>
    </div>
</template>
