#users{
  .find-user{
    flex-basis: 3em;
    -webkit-flex-basis: 3em;
    min-height:3em;
    input{
      flex-grow: 1;
      -webkit-flex-grow: 1;
    }
  }
  #map-canvas {
    width:100%;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    min-height: 10em;
  }
  .user-list{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    min-height: 10em;
    overflow:auto;
  }

}


