
<template name="users">
    <div id="users" class="flex-col">
        <input type="file" id="p2pFilePicker"/>
        <div class="find-user flex-col">
            <input type="text" placeholder="Find User"/>
        </div>
        <div class="user-list">
            {{#each users}}
                {{#if showUser}}
                    <div class="name flex-row ">
                        <div class="pseudo {{#if isSelectedUser}}current-user{{/if}}">
                            {{#if isCurrentUser}}<i class="fa fa-user"></i>{{/if}}{{name}}
                        </div>
                    {{#if isCurrentUser}}{{else}}
                        <div class="send">
                            <i class="fa fa-upload"></i>
                        </div>
                    {{/if}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
        <div id="map-canvas"></div>
    </div>
</template>
